@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background-image: url('/body-background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.material-icons-outlined.md-18 {
  font-size: 20px;
}
